body{
  background-image: url("beach.jpg");
}
.jumbotron{
  background: rgba(255, 255, 255, 0.3);
  font-family: 'Devonshire', cursive;
}

#footer{
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

.row{
  background: rgba(255, 255, 255, 0.7);
  padding: 0.5%;
  margin: 0.1%
}

p, h4{
  font-family: 'Roboto Condensed', sans-serif;
}

h3{
  font-family: 'Devonshire', cursive;
  font-size: 30pt;
}
