/*font-family: 'Saira Extra Condensed', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'News Cycle', sans-serif;*/

.navbar-header{
  font-family: 'Quicksand', sans-serif;
}

body{
  margin: auto;
  background-color: #170a19;
}

.jumbotron{
  background: #99d8d0;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.row{
  background: #e4f2f0;
  padding-left: 10%;
  padding-right: 10%;
}

.container{
  background: rgba(255, 255, 255, 0.7);
}


p, h4, li{
  font-family: 'Quicksand', sans-serif;
}

h3{
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 20pt;
  color: #70416d;
}

h2{
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 30pt;
  color: #e4f2f0;
}

.navbar-inverse{
  background-color: #170a19;
}

.navbar-inverse .navbar-nav li a:hover{
  color: #99d8d0;
}

.navbar-inverse .navbar-header a:hover{
  color: #99d8d0;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;

}

footer {
  padding: 25px;
}
